html {
  background-color: #004b73;
  color: white;
}

table {
  text-align: center;
  border-collapse: collapse;
}

tbody {
  margin: auto;
}

th {
  border: 1px solid white;
}

tr, td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
}